 <h2><%= @cocktail.name %></h2>




<h2><% @cocktail.doses.each do |dose| %></h2>
     <p><%=dose.ingredient.name  %></p>
     <p><%= dose.description %></p>
     <%= link_to "Delete Ingredient", cocktail_dose_path(:cocktail_id, dose), method: :delete, data: { confirm: "Are you sure?" }  %>
<% end %>




<%= link_to 'Back', cocktails_path %> |



<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :ingredient_id, collection: Ingredient.order(:name), prompt: "Choose a Ingredients that you like" %>
  <%= f.input :description %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
